// Mobile
@media screen and (max-width: 739px) {
    .slick-arrow {
        display: none !important;
    }
    .header {
        &-top {
            padding: 0 20px;
        }
        width: unset;
        &-language {
            padding: 0;
        }
        &-notify{
            margin: 0 18px ;
            & svg {
                margin-left: 0;
            }
        } 
        &-language {
            margin-left:10px;
        }
        &-profile svg,
        &-name {
            display: none ;
        }
    }
    .slider {
        background-size: 191%;
        background-position: 56% 70%;
        padding-top: 100%;
        &-title {
            font-size: 65px;
            line-height: 72px;
            width: 70%;
        }
    }
    .search-bar{
        padding: 22px 28px !important;
        &-top {
            border-bottom: none;
            padding-bottom: 0;
            &-left {
                border-bottom: 1px solid #e7ecf3;
                padding-bottom: 20px;
            }
            &-right {
                padding-left: 0;
                padding-top: 20px;
            }
        }
        &-section {
            margin: 0;
            font-size: 27px;
        }
        &-label-icon {
            display: none;
        }
        &-bottom-sec {
            padding: 5px 0;
            display: block;
            margin: 0 -5px;
        }
        &-opt {
            padding: 0 7px;
        }
        &-btn {
            margin-top: 12px;
            font-size: 30px;
            padding: 16px 42px;
        }
    }
    .place {
        &-title{
            padding: 0 52px;
            line-height: 62px;
        }
        &-description {
            width: 100%;
            font-size: 27px;
            line-height: 30px;
            padding:0 64px 30px;
        }
        &-item {
            width: calc(50% - 30px) !important;
            padding: 30px 25px !important;
            text-align: center;
            & h6, p {
                text-align: center;
            }
        }
    }
    .Feature{
        &-header {
            text-align: center;
        }
        &-body {

        }
    }
    .explore {
        &-body{
            &-item {
                width: 5% !important;
                margin: 0 5px;
            }
        }
    }
    .travel {
        &-header {
            &-heading,
            &-subheading {
                text-align: center;
            }
        }
        &-body {
            &-item {
                width: 330px !important;
                &-img-box{
                    &::after{
                        width: 81.5%;
                    }
                }
            }
        }
    }
    .offer{
        &-main {
            padding: 0 28px;
            &-left{
                &-title {
                font-size: 30px;
                font-weight: 600;
                line-height: 50px;
                }
                &-subtitle {
                    width:100%;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0;
                }
            }
            &-right{
                &-field {
                    &-input {
                        width: 468px;
                        height: 73px;
                    }
                }
            }
        }
    }
    .footer {
        padding-top: 125px;
        &-content {
            padding: 0;
            & .header-left {
                padding-top: 15px;
            }
            & p {
                display: none;
            }
        }
        &-services,
        &-support,
        &-business {
            float: left;
            border-bottom: 1px solid rgba(231, 236, 243, 1);
            width: 100%;
            & h5 {
                padding-bottom: 10px;
                padding-top: 15px;
            }
        }
    }
}
